.Home {

    .hero-section {
        min-height: 530px;
        width: auto;
        overflow: hidden;

        .background {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        .content {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 15px;
            top: 80px;
            width: 100%;
            max-width: 500px;
            left: 50%;
            transform: translateX(-50%);

            h1 {
                font-family: $Montserrat;
                font-weight: 700;
                color: $kirch-red;
            }

            a {
                width: 100%;
            }
        }
    }
}