$kirch-red: #771c2e;
$kirch-yellow: #f7df3f;
$white: #ffffff;
$grey: #bbbbbb;
$grey-text: #909090;
$black: #000000;
$foreground: #f2f2f2; 
$background: white; 

$Montserrat: 'Montserrat'; 
$Brute: 'Brute'; 

// padding-inline for all pages
.padding-inline {
    padding-inline: 20px;

    @media only screen and (min-width: 500px) {
        padding-inline: 25px;
    }

    @media only screen and (min-width: 1050px) {
        padding-inline: 30px;
    }

    @media only screen and (min-width: 1500px) {
        padding-inline: 70px;
    }
}

body {
    background-color: $foreground;
}

// Paragraph styles
p {
    font-size: 15px;
    font-family: $Montserrat;
}

h1 {
    font-size: 24px;
    font-family: $Brute;
    font-weight: 600;

    @media only screen and (min-width: 500px) {
        font-size: 34px;
    }

    @media only screen and (min-width: 1050px) {
        font-size: 33px;
    }

    @media only screen and (min-width: 1500px) {
        font-size: 42px;
    }
}

//interactive hover effects 
.hover-animation {
    transition: 0.3s;

    &:hover {
        transform: scale(0.97);
    }
}


//button styles

.button{
	box-sizing: border-box;
	display: inline-block;
	position: relative;
	background-color: #22252C;
	padding: 17px;
    text-align: center;
	
	// Important
	overflow: hidden;
	transition: all 0.25s;
	
	img{
	  width: 100%;
	}
	
	// The reflection
	&:after{
	  content: "";
	  display: inline-block;
	  visibility: hidden;
	  width: 55px;
	  height: 200%;
	  position: absolute;
	  top: -50%;
	  left: -50%;
	  background-color: rgba(255,255,255,0.4);
	  transform: rotate(20deg);
	}
	
	// The magic, also very important
	&:hover{
	  // background-color: #33D8E5;
  
	  &:after{
		visibility: visible;
		transition: all 0.65s ease-in-out;
		left: 150%;
	  }
	}
  }

.yellow-btn {
	background-color: $kirch-yellow;
	color: $black;
	text-decoration: none;
	font-family: $Montserrat;
	font-weight: bold;
	text-transform: uppercase;
}

.red-btn {
	background-color: $kirch-red;
	color: $white;
	text-decoration: none;
	font-family: $Montserrat;
	font-weight: bold;
	text-transform: uppercase;
}
