.hero-background {
object-fit: cover;
width: 100%;
height: 100%;

    @media only screen and (min-width: 700px) {
        height: 890px;
    }

    @media only screen and (min-width: 800px) {
        height: 690px;
    }

    @media only screen and (min-width: 1050px) {
        height: 890px;
    }
}